table {
  border-spacing: 6px;
  border-collapse: collapse;
  background: #0c9fff;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-color: #000000;
  border-width: 50px;
}

.table2 {
  border-spacing: 6px;
  border-collapse: collapse;
  background: #0c9fff;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-color: #000000;
  border-width: 50px;
}

th, td {
    color: #000000;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #008CE7;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}



::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  width: 1414px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


@media (max-width: 1550px) {
  table{
    position: relative;
    top: 567px;
  }
  table {
    position: relative;
    top: -1px;
  }
  .table2{
    position: relative;
    top: 567px;
  }
}

@media (max-width: 1550px) {
    div.scrollmenu{
        position: relative;
        top: 567px;
        width: 1108px;
    }
}

@media (max-width: 1488px){
    h5{
        font-size: clamp(4.1rem, 4vw, 1.2rem);
    }
}

@media (max-width: 1358px){
    h5{
        font-size: clamp(3.3rem, 4vw, 1.2rem);
    }
}

@media (max-width: 1169px){
    h5{
        font-size: clamp(3.2rem, 4vw, 1.2rem);
    }
}

@media (max-width: 1136px) {
    .table2{
        position: relative;
        top: -10px;
    }
      h5 {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
      h4 {
    font-size: clamp(1rem, 4vw, 1.2rem);
      }
}

@media (max-width: 1180px) {
    div.scrollmenu{
        position: relative;
        top: 567px;
        width: 1079px;

    }
}

@media (max-width: 1136px) {
    div.scrollmenu{
        position: relative;
        top: -12px;
        width: 1057px;
    }
}

@media (max-width: 1120px) {
    div.scrollmenu{
        position: relative;
        top: -12px;
        width: 703px;
    }
}

@media (max-width: 887px) {
    h5 {
    font-size: clamp(1rem, 4vw, 1.2rem);
  }
      h4 {
    font-size: clamp(1rem, 4vw, 1.2rem);
      }

}

@media (max-width: 832px) {
    div.scrollmenu{
        position: relative;
        top: -12px;
        width: 585px;
    }
}
@media (max-width: 590px) {
    div.scrollmenu{
        position: relative;
        top: -12px;
        width: 294px;
        left: 31px;
    }
}

@media screen and (max-width: 883px) {
  .table2 {
    display: block;
  }
  .table2 > *, .table2 tr, .table2 td, .table2 th {
    display: block;
  }
  .table2 thead {
    display: none;
  }
  .table2 tbody tr {
    height: auto;
    padding: 8px 0;
  }
  .table2 tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  .table2 tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table2 tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  .table2 tbody tr td:nth-child(1):before {
    content: "Daily Weather Forecast";
  }
  .table2 tbody tr td:nth-child(2):before {
    content: "Temperature";
  }
  .table2 tbody tr td:nth-child(3):before {
    content: "Weather";
  }
  .table2 tbody tr td:nth-child(4):before {
    content: "Precipitation Chance";
  }
  .table2 tbody tr td:nth-child(5):before {
    content: "Wind Speed";
  }
  .table2 tbody tr td:nth-child(6):before {
    content: "Wind Direction";
  }
  .table2 tbody tr td:nth-child(7):before {
    content: "Humidity";
  }
}

@media screen and (max-width: 554px) {
    h5 {
    font-size: clamp(0.1rem, 4vw, 1rem);
    }
}

@media screen and (max-width: 554px) {
  .table2 {
    display: block;
  }
  .table2 > *, .table2 tr, .table2 td, .table2 th {
    display: block;
  }
  .table2 thead {
    display: none;
  }
  .table2 tbody tr {
    height: auto;
    padding: 8px 0;
  }
  .table2 tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  .table2 tbody tr td:last-child {
    margin-bottom: 0;
  }
  .table2 tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  .table2 tbody tr td:nth-child(1):before {
    content: "Daily Weather Forecast";
      font-size: 0.7rem;
  }
  .table2 tbody tr td:nth-child(2):before {
    content: "Temperature";
      font-size: 0.8rem;
  }
  .table2 tbody tr td:nth-child(3):before {
    content: "Weather";
      font-size: 0.8rem;
  }
  .table2 tbody tr td:nth-child(4):before {
    content: "Precipitation Chance";
      font-size: 0.8rem;
  }
  .table2 tbody tr td:nth-child(5):before {
    content: "Wind Speed";
      font-size: 0.8rem;
  }
  .table2 tbody tr td:nth-child(6):before {
    content: "Wind Direction";
      font-size: 0.8rem;
  }
  .table2 tbody tr td:nth-child(7):before {
    content: "Humidity";
      font-size: 0.8rem;
  }
}
