<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!-- Original HTML based on codepen.io responsive dashboard template and modified by S275931 to suit the application. https://codepen.io/ecemgo/pen/rNbLodN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60; url=/">
    <title>Smart House Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/toggleswitch4.css">

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="darkmode">
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">



        <div class="title">
          <h1 align="center">Smart House</h1>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Outdoor Temperature</h2>
                <h3 class="text" style=" color: #e28d2c">{{ data[0] }} </h3>
                  <img src="/static/images/temperature.png" alt="Temperature" class="icon" align="right">
                  <div class="togglecontainer">
          <div class="toggle" style="position: relative; top: -30px; left:-40px; background: #ffffff">
            <div class="toggle-button" onclick="animatedToggle()"></div>
          </div>
          <div class="unit" style="color: #e08c2c;position: relative; top: -30px; left:-40px; font-size: 40px">°C</div>
        </div>

        <script>let toggle = document.querySelector(".toggle");
let text = document.querySelector(".text");
let unit = document.querySelector(".unit");

function animatedToggle() {
  toggle.classList.toggle("active");
  if (toggle.classList.contains("active")) {
        text.innerHTML = "{{ data[2] }}";
    unit.innerHTML = "°F";
  } else {
      text.innerHTML = "{{ data[0] }}";
        unit.innerHTML = "°C";
  }
}</script>
              </div>

              <div class="btn-group">
                  <button class="button" onclick="window.location.href='/temperature';">Details</button>
                </div>
            </div>

            <div class="card dashboard-card">

              <div class="dashboard-content">
                <h2>Outdoor Humidity</h2>
                <h3>{{ data[1] }} </h3>
                  <img src="/static/images/humidity.png" alt="Humidity" align="right" class="icon">

              </div>
              <div class="btn-group">
                  <button class="button" onclick="window.location.href='/humidity';">Details</button>
                </div>
            </div>

      </div>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>