<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart House Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
    <link rel="stylesheet" href="/static/toggleswitch.css">
    <script src="/static/dashboard.js"></script>

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="darkmode">
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">



        <div class="title">
          <h1 align="center">Smart House</h1>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Outdoor Temperature</h2>
                <h3>22ºC <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;" align="right"></h3>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
              </div>

              <div class="btn-group">
                  <button class="button" onclick="window.location.href='/temperature';">Details</button>
                </div>
            </div>

            <div class="card dashboard-card">

              <div class="dashboard-content">
                <h2>Outdoor Humidity</h2>
                <h3>62% <img src="/static/images/humidity.png" alt="Humidity" style="width:70px;height:150px;" align="right"></h3>

              </div>
              <div class="btn-group">
                  <button class="button" onclick="window.location.href='/humidity';">Details</button>
                </div>
            </div>

      </div>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>