<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Details</title>
    <link rel="stylesheet" href="/static/temperature.css">
    <link rel="stylesheet" href="/static/toggleswitch.css">
    <link rel="stylesheet" href="/static/barChart.css">
    <script src="/static/dashboard.js"></script>




</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="darkmode">
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">

        <div class="title">
            <div class="btn-group2">
<button class="button2" onclick="window.location.href='/';">◄ Back</button>
            <h1 align="center">Temperature</h1>
            </div>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Average Outdoor Temperature</h2>
                <h3>{{ data[2] }} <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;" align="right"></h3>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
              </div>

            </div>

            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Temperature Sensor 1</h2>
                <h3>{{data[0]}} <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;" align="right"></h3>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
              </div>

            </div>

            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Temperature Sensor 2</h2>
                <h3>{{ data[1]}} <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;" align="right"></h3>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
              </div>

            </div>

            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Temperature Sensor 3</h2>
                <h3>N/AºC <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;" align="right"></h3>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
              </div>

            </div>

            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Add new temperature sensor</h2>
                <h3 style="text-align: center">+</h3>

              </div>

            </div>

      </div>
<h1 style="font-size: 50px; text-align: center">Hourly Temperature Graph (Last 24 Hours)</h1>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
            <script src="/static/temperatureBarChart.js"></script>
<div id="chartdiv"></div>
        <div id="dailyTemperatureGraph" style="width: 100%; height: 370px;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            <script src="/static/temperaturegraphs.js"></script>

            <div id="monthlyTemperatureGraph" style="width: 100%; height: 370px;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            <script src="/static/temperaturegraphs.js"></script>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>