<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60; url=/temperature">
    <title>Temperature Details</title>
    <link rel="stylesheet" href="/static/temperature.css">
    <link rel="stylesheet" href="/static/toggleswitch4.css">
    <link rel="stylesheet" href="/static/barChart.css">




</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="darkmode">
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">

        <div class="title">
            <div class="btn-group2">
<button class="button2" onclick="window.location.href='/';">◄ Back</button>
            <h1 align="center">Temperature</h1>
            </div>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Outdoor Temperature</h2>
                <h3 class="text" style=" color: #e28d2c">{{ data[0] }} </h3>
                  <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;position: relative; top: -10px;" align="right">
                  <div class="togglecontainer">
          <div class="toggle" style="position: relative; top: -30px; left:-40px; background: #ffffff">
            <div class="toggle-button" onclick="animatedToggle()"></div>
          </div>
          <div class="unit" style="color: #e08c2c;position: relative; top: -30px; left:-40px; font-size: 40px">°C</div>
        </div>

        <script>let toggle = document.querySelector(".toggle");
let text = document.querySelector(".text");
let unit = document.querySelector(".unit");

function animatedToggle() {
  toggle.classList.toggle("active");
  if (toggle.classList.contains("active")) {
        text.innerHTML = "{{ data[2] }}";
    unit.innerHTML = "°F";
  } else {
      text.innerHTML = "{{ data[0] }}";
        unit.innerHTML = "°C";
  }
}</script>
              </div>

            </div>

            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Indoor Temperature</h2>
                <h3 class="text3" style=" color: #e28d2c">{{ data[1] }} </h3>
                  <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;position: relative; top: -10px;" align="right">
                  <div class="togglecontainer3">
          <div class="toggle3" style="position: relative; top: -30px; left:-40px; background: #ffffff">
            <div class="toggle-button3" onclick="animatedToggle3()"></div>
          </div>
          <div class="unit3" style="color: #e08c2c;position: relative; top: -30px; left:-40px; font-size: 40px">°C</div>
        </div>

        <script>let toggle3 = document.querySelector(".toggle3");
let text3 = document.querySelector(".text3");
let unit3 = document.querySelector(".unit3");

function animatedToggle3() {
  toggle3.classList.toggle("active");
  if (toggle3.classList.contains("active")) {
        text3.innerHTML = "{{ data[3] }}";
    unit3.innerHTML = "°F";
  } else {
      text3.innerHTML = "{{ data[1] }}";
        unit3.innerHTML = "°C";
  }
}</script>
              </div>

            </div>


            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Add new temperature sensor</h2>
                <h3 style="text-align: center">+</h3>

              </div>

            </div>

      </div>
<h1 style="font-size: 50px; text-align: center">Hourly Temperature Graph (Last 24 Hours)</h1>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
            <script src="/static/temperatureBarChart.js"></script>
<div id="chartdiv"></div>
        <div id="dailyTemperatureGraph" style="width: 100%; height: 370px;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            <script src="/static/temperaturegraphs.js"></script>

            <div id="monthlyTemperatureGraph" style="width: 100%; height: 370px;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
            <script src="/static/temperaturegraphs.js"></script>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>