<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/weather.css">
    <link rel="stylesheet" href="/static/pressuregauge.css">

  <title>Toggle Switch</title>
</head>

<body>
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %}

    <div class="gauge" style="width: 200px; height: 100px; --rotation:90deg; --color:#5cb85c; --background:#e9ecef; position:relative; top: 100px;">
      <div class="percentage"></div>
      <div class="mask"></div>
      <span class="value">90%</span>
</div>
{% endblock %} <!-- End of content block -->
</body>

</html>