<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="900; url=/weather">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Weather</title>
    <link rel="stylesheet" href="/static/weather.css">
    <link rel="stylesheet" href="/static/toggleswitch.css">
    <link rel="stylesheet" href="/static/toggleswitch2.css">
    <link rel="stylesheet" href="/static/toggleswitch3.css">
    <link rel="stylesheet" href="/static/toggleswitch4.css">
    <link rel="stylesheet" href="/static/w3schools.css">
    <link rel="stylesheet" href="/static/table1.css">
    <link rel="stylesheet" href="/static/pressuregauge.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="/static/calendar.css">
        <link rel="stylesheet"
        href=
"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">



        <div class="title">
          <h1 align="center">Weather</h1>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Current Weather at UoS Smart House</h2>
                  <div class="dashboard-container-2">
                  <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Temperature:</h2>
                <h3 class="text" style="font-size: 3.6rem; color: #000000">{{ data[0] }} </h3>
                  <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;position: relative; top: -10px;" align="right">
                  <div class="togglecontainer">
          <div class="toggle" style="position: relative; top: -30px; left:-40px;">
            <div class="toggle-button" onclick="animatedToggle()"></div>
          </div>
          <div class="unit" style="color: #000000;position: relative; top: -30px; left:-40px; font-size: 40px">°C</div>
        </div>

        <script>let toggle = document.querySelector(".toggle");
let text = document.querySelector(".text");
let unit = document.querySelector(".unit");

function animatedToggle() {
  toggle.classList.toggle("active");
  if (toggle.classList.contains("active")) {
        text.innerHTML = "{{ data[13] }}";
    unit.innerHTML = "°F";
  } else {
      text.innerHTML = "{{ data[0] }}";
        unit.innerHTML = "°C";
  }
}</script>
              </div>

            </div>

                  <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 1.3rem">Weather Conditions:</h2>
                <h3 style="font-size: 2rem">{{ data[121] }} </h3>
                  <img src={{ data[17] }} alt="Weather-Conditions" style="width:190px;height:170px;" align="left">

              </div>

            </div>

              <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Feels Like:</h2>
                <h3 class="text5" style="font-size: 3.6rem; color: #000000">{{ data[143] }} </h3>
                  <img src="/static/images/temperature.png" alt="Temperature" style="width:70px;height:150px;position: relative; top: -10px;" align="right">
                  <div class="togglecontainer5">
          <div class="toggle5" style="position: relative; top: -30px; left:-40px;">
            <div class="toggle-button5" onclick="animatedToggle5()"></div>
          </div>
          <div class="unit5" style="color: #000000;position: relative; top: -30px; left:-40px; font-size: 40px">°C</div>
        </div>

        <script>let toggle5 = document.querySelector(".toggle5");
let text5 = document.querySelector(".text5");
let unit5 = document.querySelector(".unit5");

function animatedToggle5() {
  toggle5.classList.toggle("active");
  if (toggle5.classList.contains("active")) {
        text5.innerHTML = "{{ data[144] }}";
    unit5.innerHTML = "°F";
  } else {
      text5.innerHTML = "{{ data[143] }}";
        unit5.innerHTML = "°C";
  }
}</script>
              </div>

            </div>

             <div class="card dashboard-card2">
              <div class="dashboard-content" style="position:relative; left: -0.5rem;">
                <h2 style="font-size: 2rem">UV Index:</h2>
                <h3 style="font-size: 2rem">{{ data[6] }}: {{ data[7] }} </h3>
                  <div class="w3-border">
  <div class="w3-grey" style="height:24px;width: {{ data[8] }}; background-color: {{ data[9] }}!important;"></div>
</div>

              </div>

            </div>
            </div>


             <div class="dashboard-container-2">
                  <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Humidity:</h2>
                <h3 style="font-size: 3.6rem">{{ data[1] }} <img src="/static/images/humidity.png" alt="Humidity" style="width:70px;height:150px;" align="right"></h3>
              </div>

            </div>

                  <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Wind:</h2>
                <h3 style="font-size: 1.3rem"><span>Speed</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Direction</span> </h3>
                  <h3 style="font-size: 1.2rem" class="text2">{{ data[4] }}</h3>
                  <h3 style="font-size: 1.2rem; position: relative; left: 105px; top: -23px">{{ data[5] }} </h3>
                  <div class="togglecontainer2">
          <div class="toggle2" style="position: relative; top: -30px; left:-70px;">
            <div class="toggle-button2" onclick="animatedToggle2()"></div>
          </div>
          <div class="unit2" style="color: #000000;position: relative; top: -30px; left:-70px; font-size: 20px">mph</div>
        </div>

        <script>let toggle2 = document.querySelector(".toggle2");
let text2 = document.querySelector(".text2");
let unit2 = document.querySelector(".unit2");

function animatedToggle2() {
  toggle2.classList.toggle("active");
  if (toggle2.classList.contains("active")) {
        text2.innerHTML = "{{ data[14] }}";
    unit2.innerHTML = "km/h";
  } else {
      text2.innerHTML = "{{ data[4] }}";
        unit2.innerHTML = "mph";
  }
}</script>
                  <img src={{ data[12] }} alt="Compass" style="width:105px;height:105px; position:relative; left:100px" align="left">

              </div>

            </div>

              <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Air Pressure:</h2>
                <h3 style="font-size: 1.6rem">{{ data[119] }} </h3>
                 <div class="gauge" style="width: 200px; height: 100px; --rotation:{{ data[120] }}deg; --color:#000000; --background:#ffffff;">
      <div class="percentage"></div>
      <div class="mask"></div>
      <span class="value" style="color: black; font-size: 0.8rem">{{ data[119] }}</span>
</div>



              </div>

            </div>

             <div class="card dashboard-card2">
              <div class="dashboard-content" style="position:relative; left: -0.5rem;">
                <h2 style="font-size: 2rem">Air Pollution:</h2>
                <h3 style="font-size: 2rem">{{ data[2] }}: {{ data[3]}} </h3>
                  <div class="w3-border">
  <div class="w3-grey" style="height:24px;width: {{ data[10] }}; background-color: {{ data[11] }}!important;"></div>
</div>

              </div>

            </div>
            </div>
            <div class="dashboard-container-2">
                  <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 2rem">Precipitation Probability:</h2>
                <h3 style="font-size: 3.6rem">{{ data[122] }}</h3>
                  <h3 style="font-size: 2.5rem">{{ data[121] }} <img src={{ data[17] }} alt="Humidity" style="width:70px;height:150px; position:relative; top:-20px;" align="right"></h3>
              </div>

            </div>

                  <div class="card dashboard-card2">
              <div class="dashboard-content" style="position:relative; left: -0.5rem;">
                <h2 style="font-size: 1.3rem">Pollen Count:</h2>
                <h2 style="font-size: 1.5rem">Pollen Index:</h2>
                  <h4 style="font-size: 0.8rem">Grass:</h4> </h3>
                <h3 style="font-size: 1.1rem">{{ data[127] }}: {{ data[126] }} </h3>
                  <div class="w3-border">
  <div class="w3-grey" style="height:24px;width: {{ data[128] }}; background-color: {{ data[129] }}!important;"></div>
</div>
<h4 style="font-size: 0.8rem">Tree:</h4> </h3>
                <h3 style="font-size: 1.1rem">{{ data[131] }}: {{ data[130] }} </h3>
                  <div class="w3-border">
  <div class="w3-grey" style="height:24px;width: {{ data[132] }}; background-color: {{ data[133] }}!important;"></div>
</div>
                  <h4 style="font-size: 0.8rem">Weed:</h4> </h3>
                <h3 style="font-size: 1.1rem">{{ data[135] }}: {{ data[134] }} </h3>
                  <div class="w3-border">
  <div class="w3-grey" style="height:24px;width: {{ data[136] }}; background-color: {{ data[137] }}!important;"></div>
</div>
              </div>

            </div>

              <div class="card dashboard-card2">
              <div class="dashboard-content">
                <h2 style="font-size: 1.3rem">Visibility:</h2>
                <h3 style="font-size: 2rem" class="text4">{{ data[124] }} </h3>
                  <h3 style="font-size: 2rem">{{ data[125] }} </h3>
                  <div class="togglecontainer4">
          <div class="toggle4" style="position: relative; top: -30px; left:-10px;">
            <div class="toggle-button4" onclick="animatedToggle4()"></div>
          </div>
          <div class="unit4" style="color: #000000;position: relative; top: -30px; left:-10px; font-size: 20px">Miles</div>
        </div>

        <script>let toggle4 = document.querySelector(".toggle4");
let text4 = document.querySelector(".text4");
let unit4 = document.querySelector(".unit4");

function animatedToggle4() {
  toggle4.classList.toggle("active");
  if (toggle4.classList.contains("active")) {
        text4.innerHTML = "{{ data[123] }}";
    unit4.innerHTML = "Kiometres";
  } else {
      text4.innerHTML = "{{ data[124] }} ";
        unit4.innerHTML = "Miles";
  }
}</script>
              </div>

            </div>

             <div class="card dashboard-card2">
              <div class="dashboard-content" style="position:relative; left: -0.5rem;">
                  <iframe width="230" height="230" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=ptype&product=ecmwf&level=surface&lat=52.05&lon=1.29&detailLat=52.06388964477543&detailLon=1.2840270996093752&marker=true" frameborder="0"></iframe>
                <div class="btn-group">
                  <button class="button" onclick="window.location.href='/weathermaps';" style="position:relative; left:0px; top:-10px; font-size:0.6rem;">View Full Weather Map</button>
                </div>

              </div>

            </div>
            </div>  <!-- End of dashboard-container-2 -->

              </div>

            </div>

            <div class="card dashboard-card-clock">

              <div class="dashboard-content">
                <h2>Date and Time</h2>
                <h3 style="font-size: 2rem">Date:</h3>
                  <h3 style="color: black; font-size: 1.5rem; position: relative; left: 73px;" id="date"></h3>
                <script>
                    const d = new Date();
                    document.getElementById("date").innerHTML = d.toDateString();
                </script>
                  <div class="calendar-container">
        <header class="calendar-header">
            <p class="calendar-current-date"></p>
            <div class="calendar-navigation">
                <span id="calendar-prev"
                      class="material-symbols-rounded">
                    chevron_left
                </span>
                <span id="calendar-next"
                      class="material-symbols-rounded">
                    chevron_right
                </span>
            </div>
        </header>

        <div class="calendar-body">
            <ul class="calendar-weekdays">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="calendar-dates"></ul>
        </div>
    </div>
    <script src="/static/calendar.js"></script>
                <h3-1 style="font-size: 2rem">Time:</h3-1>
                  <h3-2 style="color: black; font-size: 2rem;" id="time"></h3-2>
                <script>
                    const h = new Date();
                    let hour = h.getHours();
                    let minute = h.getMinutes();
                    times = hour + ":" + minute;
                    document.getElementById("time").innerHTML = times;
                </script>
                  <canvas id="canvas" width="300" height="300" style="background-color:#5fbaf4">
                        Sorry, your browser does not support canvas.
                  </canvas>
                    <script src="/static/clock.js"></script>
              </div>

            </div>
          </div>
<div class="left-content-2">
<div class="scrollmenu">
<table>
      <thead>
        <tr>
          <th>Hourly<br> Weather<br> Forecast</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Now</td>
          <td>{{ data[50] }}</td>
          <td>{{ data[53] }}</td>
          <td>{{ data[56] }}</td>
          <td>{{ data[59] }}</td>
           <td>{{ data[62] }}</td>
           <td>{{ data[65] }}</td>
           <td>{{ data[68] }}</td>
           <td>{{ data[71] }}</td>
           <td>{{ data[74] }}</td>
           <td>{{ data[77] }}</td>
           <td>{{ data[80] }}</td>
           <td>{{ data[83] }}</td>
           <td>{{ data[86] }}</td>
           <td>{{ data[89] }}</td>
           <td>{{ data[92] }}</td>
           <td>{{ data[95] }}</td>
           <td>{{ data[98] }}</td>
           <td>{{ data[101] }}</td>
           <td>{{ data[104] }}</td>
           <td>{{ data[107] }}</td>
           <td>{{ data[110] }}</td>
           <td>{{ data[113] }}</td>
           <td>{{ data[116] }}</td>


        </tr>
           <tr>
          <td>{{ data[48] }}</td>
          <td>{{ data[51] }}</td>
          <td>{{ data[54] }}</td>
          <td>{{ data[57] }}</td>
          <td>{{ data[60] }}</td>
          <td>{{ data[63] }}</td>
          <td>{{ data[66] }}</td>
          <td>{{ data[69] }}</td>
          <td>{{ data[72] }}</td>
          <td>{{ data[75] }}</td>
          <td>{{ data[78] }}</td>
          <td>{{ data[81] }}</td>
          <td>{{ data[84] }}</td>
          <td>{{ data[87] }}</td>
          <td>{{ data[90] }}</td>
          <td>{{ data[93] }}</td>
          <td>{{ data[96] }}</td>
          <td>{{ data[99] }}</td>
          <td>{{ data[102] }}</td>
          <td>{{ data[105] }}</td>
          <td>{{ data[108] }}</td>
          <td>{{ data[111] }}</td>
          <td>{{ data[114] }}</td>
          <td>{{ data[117] }}</td>

        </tr>
           <tr>
          <td><img src={{ data[49] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[52] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[55] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[58] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[61] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[64] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[67] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[70] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[73] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[76] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[79] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[82] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[85] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[88] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[91] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[94] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[97] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[100] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[103] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[106] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[109] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[112] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[115] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>
          <td><img src={{ data[118] }} alt="Rain" style="width:50px;height:130px; position:relative; top:-20px;"></td>


        </tr>

      </tbody>
    </table>

    </div>
    <table class="table2">
      <thead>
        <tr>
            <th><h6>Daily Weather Forecast</h6></th>
          <th>Temperature</th>
          <th>Weather</th>
          <th>Precipitation Chance</th>
          <th>Wind Speed</th>
          <th>Wind Direction</th>
          <th>Humidity</th>
        </tr>
      <thead>
      <tbody>
        <tr>
          <td><h5>Today</h5></td>
          <td><h5>{{ data[16] }}</h5></td>
          <td><img src={{ data[17] }} alt="Weather-Conditions" style="width:100px;height:100px; position:relative;"></td>
          <td><h5>{{ data[122] }}</h5></td>
          <td><h5>{{ data[4] }}</h5></td>
          <td><h4>{{ data[5] }}</h4></td>
          <td><h5>{{ data[1] }}</h5></td>
        </tr>
           <tr>
          <td><h5>{{ data[18] }}</h5></td>
          <td><h5>{{ data[20] }}</h5></td>
          <td><img src={{ data[19] }} alt="Weather-Conditions" style="width:100px;height:100px; position:relative;"></td>
          <td><h5>{{ data[138] }}</h5></td>
          <td><h5>{{ data[21] }}</h5></td>
          <td><h4>{{ data[22] }}</h4></td>
          <td><h5>{{ data[23] }}</h5></td>
        </tr>
           <tr>
          <td><h5>{{ data[24] }}</h5></td>
          <td><h5>{{ data[26] }}</h5></td>
          <td><img src={{ data[25] }} alt="Rainy" style="width:100px;height:100px; position:relative;"></td>
          <td><h5>{{ data[139] }}</h5></td>
          <td><h5>{{ data[27] }}</h5></td>
          <td><h4>{{ data[28] }}</h4></td>
          <td><h5>{{ data[29] }}</h5></td>
        </tr>
           <tr>
          <td><h5>{{ data[30] }}</h5></td>
          <td><h5>{{ data[32] }}</h5></td>
          <td><img src={{ data[31] }} alt="Thunderstorms" style="width:100px;height:100px; position:relative;"></td>
          <td><h5>{{ data[140] }}</h5></td>
          <td><h5>{{ data[33] }}</h5></td>
          <td><h4>{{ data[34] }}</h4></td>
          <td><h5>{{ data[35] }}</h5></td>
        </tr>
              <tr>
             <td><h5>{{ data[36] }}</h5></td>
             <td><h5>{{ data[38] }}</h5></td>
             <td><img src={{ data[37] }} alt="Windy" style="width:100px;height:100px; position:relative;"></td>
             <td><h5>{{ data[141] }}</h5></td>
             <td><h5>{{ data[39] }}</h5></td>
             <td><h4>{{ data[40] }}</h4></td>
             <td><h5>{{ data[41] }}</h5></td>
              </tr>
                  <tr>
                    <td><h5>{{ data[42] }}</h5></td>
                    <td><h5>{{ data[44] }}</h5></td>
                    <td><img src={{ data[43] }} alt="Hailstones" style="width:100px;height:100px; position:relative;"></td>
                    <td><h5>{{ data[142] }}</h5></td>
                    <td><h5>{{ data[45] }}</h5></td>
                    <td><h4>{{ data[46] }}</h4></td>
                    <td><h5>{{ data[47] }}</h5></td>
                    </tr>

      </tbody>
    </table>
            </div>
              <h3>&nbsp;</h3>
      </div>

        </div>

    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>