<!-- Landing page of Smart Home Weather Dashboard. Author: S275931 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Maps</title>
    <link rel="stylesheet" href="/static/weathermaps.css">
    <link rel="stylesheet" href="/static/toggleswitch.css">
    <link rel="stylesheet" href="/static/maps.css">
    <script src="/static/dashboard.js"></script>

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">



        <div class="title">
          <div class="btn-group2">
            <button class="button2" onclick="window.location.href='/weather';">◄ Back</button>
            <h1 align="center">Weather Maps</h1>
            </div>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Precipitation Map (Google Maps temporary placeholder to be replaced with weather API map)</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0"pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk></iframe>
                    <!-- ... and here -->
                  </div>
              </div>

            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Temperature Map (Google Maps temporary placeholder to be replaced with weather API map)</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0"pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk></iframe>
                    <!-- ... and here -->
                  </div>
              </div>

            </div>

      </div>

            <div class="dashboard-container ">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Wind Map (Google Maps temporary placeholder to be replaced with weather API map)</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0"pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Air Quality Map (Google Maps temporary placeholder to be replaced with weather API map)</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0"pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Radar Map (Google Maps temporary placeholder to be replaced with weather API map)</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0"pb=!1m18!1m12!1m3!1d27758.294968087794!2d1.256418895704041!3d52.0522389963989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d99c4a9a44dc45%3A0xf98640c3e40e1214!2sAdastral%20Park!5e0!3m2!1sen!2suk!4v1730146614298!5m2!1sen!2suk></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>