<!-- Weather Maps page of Smart Home Weather Dashboard. Author: S275931 -->
<!-- Original HTML based on codepen.io responsive dashboard template and modified by S275931 to suit the application. https://codepen.io/ecemgo/pen/rNbLodN -->
<!-- HTML code for the weather maps is embedded from Windy Weather Maps (Embed) and modified by S275931 to suit the application. https://embed.windy.com/config/map -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Maps</title>
    <link rel="stylesheet" href="/static/weathermaps.css">
    <link rel="stylesheet" href="/static/toggleswitch.css">
    <link rel="stylesheet" href="/static/maps.css">
    <script src="/static/dashboard.js"></script>

</head>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body>
{% extends 'base.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- Content block for the form -->

    <section class="content">
      <div class="left-content">



        <div class="title">
          <div class="btn-group2">
            <button class="button2" onclick="window.location.href='/weather';">◄ Back</button>
            <h1 align="center">Weather Maps</h1>
            </div>
          <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Precipitation Map</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=ptype&product=ecmwf&level=surface&lat=52.05&lon=1.29&detailLat=52.06388964477543&detailLon=1.2840270996093752&marker=true" frameborder="0"></iframe>
                    <!-- ... and here -->
                  </div>
              </div>

            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Temperature Map</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=temp&product=ecmwf&level=surface&lat=52.05&lon=1.29&detailLat=52.06388964477543&detailLon=1.2840270996093752&marker=true" frameborder="0"></iframe>
                    <!-- ... and here -->
                  </div>
              </div>

            </div>

      </div>

            <div class="dashboard-container ">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Wind Map</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=wind&product=ecmwf&level=surface&lat=52.05&lon=1.29&detailLat=52.06388964477543&detailLon=1.2840270996093752&marker=true" frameborder="0"></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Air Quality Map</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=pm2p5&product=camsEu&level=surface&lat=52.05&lon=1.29&detailLat=52.06388964477543&detailLon=1.2840270996093752&marker=true" frameborder="0"></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

            <div class="dashboard-container">
            <div class="card dashboard-card">
              <div class="dashboard-content">
                <h2>Radar Map</h2>
                  <div class="responsive-map-container">
                    <!-- place the iframe code between here... -->
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=default&metricTemp=default&metricWind=default&zoom=11&overlay=radar&product=radar&level=surface&lat=52.06&lon=1.283&detailLat=52.06473391193371&detailLon=1.2819671630859377&marker=true" frameborder="0"></iframe>
                    <!-- ... and here -->
                  </div>
              </div>
              <div class="dashboard-footer">

              </div>
            </div>

      </div>

        </div>
        </div>
    </section>
{% endblock %} <!-- End of content block -->
  </body>

</html>